.home {
    text-align: center;
    width: 70%;
}
.algoBoxes{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.box{
    transition: box-shadow .3s;
    width: 300px;
    height: auto;
    border-radius:10px;
    border: 1px solid #ccc;
    background: var(--gray);
    padding: 10px 10px;
}

.box:hover {
    box-shadow: 0 0 11px var(--white); 
}

ul{
  display: flex;
  flex-direction: column;  
}
