nav{
    display: flex;
    flex-direction: row;
    height: 50px;
}

.logo{
  flex: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.links{
 flex: 70%;
}

.link{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    
}

.NavLink{
 text-decoration: none;
 color: var(--white);
 
}
